.MainNav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.MainNav li {
  margin: 1rem;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
}

// -----------------------------------------------------------------------//
//                              -:HomePage style:-                       //
// ---------------------------------------------------------------------//
$text-color-paragraph:rgba(117, 111, 111, 1);
$button-color-darkBlue:#2E23AA;
;

.HomePage {
  display: grid;
  place-items: center;

  @media (min-width:600px) {
    margin-left: 5rem;
  }

  &__text_section {
    width: 80%;
    margin: auto;

    &>h1 {
      margin: 0;
      font-size: clamp(1.5rem, 8vw, 2.5rem);
    }

    &>p {
      margin: 8px;
      color: $text-color-paragraph;
    }


  }
}

//Create global button style for -> extend from here
.HomePageButton {
  padding: 8px;
  border-radius: 5px;
  width: 6rem;
  border: none;
  background-color: $button-color-darkBlue;
  color: white;
  cursor: pointer;
  margin-top: 8px;
}

// -----------------------------------------------------------------------//
//                             -:HomePage cards:-                        //
// ---------------------------------------------------------------------//
.HomePageBlogs {
  //Heading text style
  margin-top: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__body_blogs {
    margin-bottom: 5rem;
    margin-top: 2rem;
    display: grid;

    @media (min-width:1092px) {
      width: 50%;
    }

    @media (min-width:1208px) {
      place-items: center end;

      &>:nth-child(odd) {
        place-self: center start;
      }
    }
  }

  &__heading_top_section_main {
    text-align: center;

    &>h1 {
      margin: 0;
    }

    &>p {
      margin-top: 5px;
      color: $text-color-paragraph;
    }
  }

  // Body && card style
  &__body_blog {
    margin: 10px;
    padding-left: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    align-items: center;

    @media (min-width:504px) {
      justify-content: space-around;
      display: flex;
    }
  }

  &__blog_texts {
    margin-left: 8px;

    &>h2 {
      margin: 10px 20px 0px 0px;
    }

    &>p {
      margin-top: 7px;
      color: $text-color-paragraph;
      margin-left: 9px;
      width: 80%;
    }

    &>button {
      width: 5rem;
      padding: 8px;
      margin-top: 0;
      margin-bottom: 16px;
      @extend .HomePageButton;
    }
  }

  .HomePageBlogs__card_img {
    padding: 10px !important;
    place-items: center start;
  }


}

@media (max-width:504px) {
  .HomePageBlogs__card_img {
    margin-top: 1.3rem;
    margin-left: 6px;
  }

  .HomePageBlogs__blog_texts>h2 {
    margin-top: 3px;
  }
}

//Home page -> toggle element style
.HomePage__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3.2rem;
  top: 0;
  background-color: rgba(100, 100, 111, 0.2);
  z-index: 2;
  &_item {
    width: 23rem;
    padding: 10px;
    position: relative;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
  
    &>h1 {
      margin: 0 0 10px 0;
    }
    &>p {
      margin: 0 0 0 8px;
      &>span {
        display: block;
        margin-bottom: 10px;
      }
    }
    &>button {
      width: 4rem;
      padding: 5px;
      margin-top: 16px;
      color: white;
      border: none;
      border-radius: 5px;
      background-color: red;
      cursor: pointer;
    }
  }
}
.HomePage__toggle_img{
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
}
//Hide element when user click on -> close
.Close__element_toggle_button{
  display: none;
}
//Home img responsive ness
.HomeImg{
  width: clamp(10rem,100vw,50rem);
}